#activity-info  #dependency-container{
	max-height: calc(30vh - 50px);
	overflow-y: scroll;
}

#info-board{
	flex: 1;
	height: 100%;
}

#img-container{
	width: 100%;
	height: calc(40vh - 50px);
	overflow: hidden;
}

#activity-info {
	width: 100%;
	height: calc(60vh - 50px);
	max-height: 60%;
}

#activity-info span,th,td{
	font-size: small!important;
}

