#gantt-container{
    overflow-y: scroll;
    max-height: 85vh;
	border-bottom: 2px solid black;
	background-color: black;
}
/**  STYLE 3 */
#gantt-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#gantt-container::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

#gantt-container::-webkit-scrollbar-thumb {
	background-color: #000000;
}